/**
 * Optional: Fluid Heights
 *
 * $ yarn add postcss-range-value
 */
.fl\:h-4 {
  height: range(theme("ratio.lg"), 1rem);
}

.fl\:h-8 {
  height: range(theme("ratio.lg"), 2rem);
}

.fl\:h-12 {
  height: range(theme("ratio.lg"), 3rem);
}

.fl\:h-16 {
  height: range(theme("ratio.lg"), 4rem);
}

.fl\:h-20 {
  height: range(theme("ratio.lg"), 5rem);
}

.fl\:h-24 {
  height: range(theme("ratio.lg"), 6rem);
}

.fl\:h-32 {
  height: range(theme("ratio.lg"), 8rem);
}

.fl\:h-40 {
  height: range(theme("ratio.lg"), 10rem);
}

.fl\:h-48 {
  height: range(theme("ratio.lg"), 12rem);
}
