/**
 * Optional: Fluid Type
 *
 * $ yarn add postcss-range-value postcss-root-parse-var 
 */

 /*
.fl\:text-xs {
  font-size: range(parse-var(--ratio-xs), parse-var(--font-size-xs));
}

.fl\:text-sm {
  font-size: range(parse-var(--ratio-xs), parse-var(--font-size-sm));
}

.fl\:text-base {
  font-size: range(parse-var(--ratio-xs), parse-var(--font-size-base));
}

.fl\:text-lg {
  font-size: range(parse-var(--ratio-xs), parse-var(--font-size-lg));
}

.fl\:text-xl {
  font-size: range(parse-var(--ratio-xs), parse-var(--font-size-xl));
}

.fl\:text-2xl {
  font-size: range(parse-var(--ratio-sm), parse-var(--font-size-2xl));
}

.fl\:text-3xl {
  font-size: range(parse-var(--ratio-sm), parse-var(--font-size-3xl));
}

.fl\:text-4xl {
  font-size: range(parse-var(--ratio-sm), parse-var(--font-size-4xl));
}

.fl\:text-5xl {
  font-size: range(parse-var(--ratio-md), parse-var(--font-size-5xl));
}

.fl\:text-6xl {
  font-size: range(parse-var(--ratio-md), parse-var(--font-size-6xl));
}

.fl\:text-7xl {
  font-size: range(parse-var(--ratio-md), parse-var(--font-size-7xl));
}

.fl\:text-8xl {
  font-size: range(parse-var(--ratio-lg), parse-var(--font-size-8xl));
}
*/
