/**
 * WordPress Generated Classes
 * http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */
.alignnone {
  max-width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.aligncenter {
  display: block;
  height: auto;
  margin: gutter() auto;
}

.alignleft,
.alignright {
  height: auto;
  margin-bottom: gutter();
}

.alignleft {
  @include mq(sm) {
    float: left;
  }
}

.alignright {
  @include mq(sm) {
    float: right;
  }
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

.page-header {
  color: get-color(primary);
}
