// Import NPM dependencies
@import "~normalize.css/normalize";
@import "~susy/sass/susy";

@import "config";
@import "utils";
@import "base";

@import "comps/buttons";
@import "comps/forms";
@import "comps/wp-classes";

@import "layouts/header";
@import "layouts/footer";
@import "layouts/singular";
@import "layouts/tinymce";

@import "views/template";
