$layout: (
  // display
  block: (display: block),
  inline-block: (display: inline-block),
  inline: (display: inline),
  flex: (display: flex),
  inline-flex: (display: inline-flex),
  hidden: (display: hidden),
  // floats
  float-right: (float: right),
  float-left: (float: left),
  float-none: (float: none),
  // position
  static: (position: static),
  fixed: (position: fixed),
  absolute: (position: absolute),
  relative: (position: relative),
  sticky: (position: sticky),
  // visibility
  visible: (visibility: visible),
  invisible: (visibility: hidden),
  // z-index
  z-0: (z-index: 0),
  z-10: (z-index: 10),
  z-20: (z-index: 20),
  z-30: (z-index: 30),
  z-40: (z-index: 40),
  z-50: (z-index: 50),
  z-auto: (z-index: auto),
);

@include util-add($layout);
