.container {
  position: relative;
  max-width: get-break(xl);
  margin-left: auto;
  margin-right: auto;
}

.container-esc {
  position: relative;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.container-esc-left {
  margin-left: calc(50% - 50vw);
}

.container-esc-right {
  margin-right: calc(50% - 50vw);
}
