// modified from https://github.com/ryanve/flexboxes

// flex
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-2
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

// flex-direction
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-3
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

// flex-wrap
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-4
.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// align-items
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-7
.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

// justify-content
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-6
.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

// align-content
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-8
.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

// order
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-9
.order-before {
  order: -1;
}

.order-after {
  order: 1;
}

@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .order-after\:#{$bp} {
      order: 1;
    }

    .order-before\:#{$bp} {
      order: -1;
    }
  }
}

// align-self
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-14
.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

// flex
.flex-initial {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: 0 0 auto;
}

// requires $grid-cols, $grid-basis
@for $i from 0 through $grid-cols {
  .flex-#{$i} {
    flex: #{$i};
  }
}

// grow
@for $i from 0 through $grid-cols {
  .grow-#{$i} {
    flex-grow: #{$i};
  }
}

// shrink
@for $i from 0 through $grid-cols {
  .shrink-#{$i} {
    flex-shrink: #{$i};
  }
}

// basis
// renamed to col for faster typing
.col-100vw {
  flex-basis: 100vw;
}

.col-100vh {
  flex-basis: 100vh;
}

// basis alias col
@for $i from 0 through $grid-cols {
  .col-#{$i} {
    position: relative;
    flex-basis: percentage($i/$grid-cols);
  }
}

// use mq
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    @for $i from 0 through $grid-cols {
      .col-#{$i}\:#{$bp} {
        position: relative;
        flex-basis: percentage($i/$grid-cols);
      }
    }
  }
}

// col auto
.col-auto {
  position: relative;
  flex-basis: auto;
}

// use mq
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .col-auto\:#{$bp} {
      position: relative;
      flex-basis: auto;
    }
  }
}

// Custom
.flex-gutter {
  margin-right: ($grid-gutter / -2);
  margin-left: ($grid-gutter / -2);
}

.flex-gutter > div {
  padding-right: ($grid-gutter / 2);
  padding-left: ($grid-gutter / 2);
}
