.show-none {
  display: none;
}

.show-block {
  display: block;
}

@each $bp in map-keys($breakpoints) {
  @include mq($bp) {
    .show-none\:#{$bp} {
      display: none;
    }

    .show-block\:#{$bp} {
      display: block;
    }
  }
}
