/**
 * Declarations using some of the provided tools
 * Based on Sage 9, remove on production
 */
.container {
  margin: 0 gutter();
  color: get-color(primary);
  @include container;
}

.page-header {
  background: get-color(primary, light);
  @include font-size(tera);
  @include spacing(deca, padding-top padding-bottom);
}
