$breakpoints: (
  sm: 36rem, // 576
  md: 48rem, // 768
  lg: 62rem, // 992
  xl: 75rem, // 1200
  xx: 87.5rem, // 1400
);

// req for github.com/soberwp/sass-tools/fl
$fl-screen-min: 48rem;
$fl-screen-max: 87.5rem;
