/**
 * https://www.modularscale.com/
 *
 * 1.125 major second
 * 1.25 major third
 * 1.333 perfect fourth
 * 1.5 perfect fifth
 * 1.618 golden ratio
 * 1.875 major seventh
 * 2 octave
 * 2.5 major tenth
 * 3 major twelfth
 * 4 double octave
 */
$font-sizes: (
  xs: (
    size: 0.75rem, // 12
    ratio: 1.125,
  ),
  sm: (
    size: 0.875rem, // 14
    ratio: 1.125,
  ),
  base: (
    size: 1rem, // 16
    ratio: 1.125,
  ),
  lg: (
    size: 1.125rem, // 18
    ratio: 1.125,
  ),
  xl: (
    size: 1.25rem, // 20
    ratio: 1.125,
  ),
  xx: (
    size: 1.5rem, // 24
    ratio: 1.25,
  ),
  xx1: (
    size: 1.875rem, // 30
    ratio: 1.333,
  ),
  xx2: (
    size: 2.25rem, // 36
    ratio: 1.333,
  ),
  xx3: (
    size: 3rem, // 48
    ratio: 1.5,
  ),
  xx4: (
    size: 4rem, // 64
    ratio: 1.5,
  ),
  xx5: (
    size: 5rem, // 80
    ratio: 1.618,
  ),
  xx6: (
    size: 6rem, // 96
    ratio: 1.875,
  ),
);
