/**
 * Grid
 *
 * Bootstrap grid breakpoint and container max width values.
 * Defaults to the Bootstrap defaults.
 */
$grid-breakpoints: (
	xs: 0,
	sm: 544px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xx: 1400px,
	xxx: 1600px
);

$container-max-widths: (
	sm: 576px,
	md: 720px,
	lg: 940px,
	xl: 1140px,
	xx: 1340px,
	xxx: 1540px
);
