// modified from https://github.com/ryanve/flexboxes

// flex
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-2

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .flex\:#{$bp} {
      display: flex;
    }

    .inline-flex\:#{$bp} {
      display: inline-flex;
    }
  }
}
*/

// flex-direction
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-3

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .flex-row\:#{$bp} {
      flex-direction: row;
    }

    .flex-row-reverse\:#{$bp} {
      flex-direction: row-reverse;
    }

    .flex-column\:#{$bp} {
      flex-direction: column;
    }

    .flex-column-reverse\:#{$bp} {
      flex-direction: column-reverse;
    }
  }
}
*/

// flex-wrap
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-4

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .flex-wrap\:#{$bp} {
      flex-wrap: wrap;
    }

    .flex-nowrap\:#{$bp} {
      flex-wrap: nowrap;
    }

    .flex-wrap-reverse\:#{$bp} {
      flex-wrap: wrap-reverse;
    }
  }
}
*/

// align-items
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-7

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .align-items-start\:#{$bp} {
      align-items: flex-start;
    }

    .align-items-end\:#{$bp} {
      align-items: flex-end;
    }

    .align-items-center\:#{$bp} {
      align-items: center;
    }

    .align-items-baseline\:#{$bp} {
      align-items: baseline;
    }

    .align-items-stretch\:#{$bp} {
      align-items: stretch;
    }
  }
}
*/

// justify-content
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-6

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .justify-content-start\:#{$bp} {
      justify-content: flex-start;
    }

    .justify-content-end\:#{$bp} {
      justify-content: flex-end;
    }

    .justify-content-center\:#{$bp} {
      justify-content: center;
    }

    .justify-content-between\:#{$bp} {
      justify-content: space-between;
    }

    .justify-content-around\:#{$bp} {
      justify-content: space-around;
    }
  }
}
*/

// align-content
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-8

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .align-content-start\:#{$bp} {
      align-content: flex-start;
    }

    .align-content-end\:#{$bp} {
      align-content: flex-end;
    }

    .align-content-center\:#{$bp} {
      align-content: center;
    }

    .align-content-between\:#{$bp} {
      align-content: space-between;
    }

    .align-content-around\:#{$bp} {
      align-content: space-around;
    }

    .align-content-stretch\:#{$bp} {
      align-content: stretch;
    }
  }
}
*/

// order
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-9

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .order-before\:#{$bp} {
      order: -1;
    }

    .order-after\:#{$bp} {
      order: 1;
    }
  }
}
*/

// align-self
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/#article-header-id-14

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .align-self-center\:#{$bp} {
      align-self: center;
    }

    .align-self-baseline\:#{$bp} {
      align-self: baseline;
    }

    .align-self-stretch\:#{$bp} {
      align-self: stretch;
    }

    .align-self-start\:#{$bp} {
      align-self: flex-start;
    }

    .align-self-end\:#{$bp} {
      align-self: flex-end;
    }
  }
}
*/

// flex

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .flex-initial\:#{$bp} {
      flex: 0 1 auto;
    }

    .flex-auto\:#{$bp} {
      flex: 1 1 auto;
    }

    .flex-none\:#{$bp} {
      flex: 0 0 auto;
    }
  }
}
*/

// requires $grid-cols, $grid-basis

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    @for $i from 0 through $grid-cols {
      .flex-#{$i}\:#{$bp} {
        flex: #{$i};
      }
    }
  }
}
*/

// grow

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    @for $i from 0 through $grid-cols {
      .grow-#{$i}\:#{$bp} {
        flex-grow: #{$i};
      }
    }
  }
}
*/

// shrink

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    @for $i from 0 through $grid-cols {
      .shrink-#{$i}\:#{$bp} {
        flex-shrink: #{$i};
      }
    }
  }
}
*/

// basis

/*
@each $bp in map-keys($breakpoints) {
  @include respond-up($bp) {
    .basis-100vw\:#{$bp} {
      flex-basis: 100vw;
    }

    .basis-100vh\:#{$bp} {
      flex-basis: 100vh;
    }
  }
}
*/
