/**
 * Blocks
 *
 * Recommended:
 * article, aside, details, figcaption, figure, footer, header, hgroup, main, mark, menu, nav, section, summary, time
 */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  @include font-size(base);
  @include font-stack(primary);
  line-height: $leading;
}
