/**
 * Elements
 *
 * @recommended
 * article, aside, details, figcaption, figure, footer, header, hgroup, main, mark, menu, nav, section, summary, time
 */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  line-height: $leading;
  font-size: 16px;
  font-family: get-font-family(primary);
}
