/**
 * Formatting
 *
 * @recommended
 * em, small, strong, ins, del, mark, p, pre, code, blockquote, q, address, cite, hr, br
 */
p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}
