/**
 * Formatting
 *
 * Recommended:
 * em, small, strong, ins, del, mark, p, pre, code, blockquote, q, address, cite
 */
p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

blockquote, q {
  quotes: none;

  &::before, &::after {
    content: none;
  }
}
