/**
 * Forms
 *
 * @recommended form, input, textarea, label, fieldset, legend, select, optgroup, option, button, datalist, keygen, output
 */

// remove default styles to make elements the same
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: visible;
  border: 0;
  outline: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  vertical-align: top;
}

// avoid no background on edge and ie 
option {
  background-color: inherit;
}

// prevent chrome autofill style
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

// you should define size for textarea
textarea {
  resize: none;
}

// pointer cursor for buttons
input[type="button"],
button {
  cursor: pointer;
}

// pointer default for disabled buttons
button[disabled],
html input[disabled] {
  cursor: default;
}
