/**
 * Links
 *
 * Recommended:
 * a:link, a:visited, a:hover, a:active
 */
a {
  &,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}

a:not([class]) {
  &,
  &:active,
  &:focus,
  &:hover {
    color: get-color(primary);
  }
}
