/**
 * Tables
 *
 * @recommended table, tbody, tfoot, thead, tr, th, td
 */

// 1. force width 100%
// 2. collapse border spacing
table {
  width: 100%; // 1
  border-spacing: 0; // 2
  border-collapse: collapse; // 2
}
