/**
 * Output fluid sizing using calc values and 100vw.
 *
 * @requires functions/calc-rem
 * @requires functions/get-unitless
 * @params $props, $min-vw, $max-vw, $min-value, $max-value
 * @link http://www.sassmeister.com/gist/7f22e44ace49b5124eec
 */
@mixin fluid($props, $min-vw, $max-vw, $min-value, $max-value) {
  /*
  $units: rem, em;
  @if index($units, unit($min-value)) != null {
    $min-vw: calc-rem($min-vw);
    $max-vw: calc-rem($max-vw);
  }
  */

  @each $prop in $props {
    #{$prop}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $prop in $props {
      #{$prop}: calc(#{$min-value} + #{get-unitless($max-value - $min-value)} * (100vw - #{$min-vw}) / #{get-unitless($max-vw - $min-vw)});
    }
  }

  @media (min-width: $max-vw) {
    @each $prop in $props {
      #{$prop}: $max-value;
    }
  }
}
