/**
 * Output fluid font size calcs from config
 * @requires mixins/fluid
 * @params $font-size
 */
@mixin font-size($font-size) {
  $map: map-get($font-sizes, $font-size);
  @if map-has-key($map, size) {
    font-size: map-get($map, size);
    font-size: calc-rem(map-get($map, size));
  }
  @else {
    @include fluid(font-size, get-bp(map-get($map, min-vw)), get-bp(map-get($map, max-vw)), map-get($map, min-size), map-get($map, max-size));
    @include fluid(font-size, get-bp(map-get($map, min-vw)), get-bp(map-get($map, max-vw)), calc-rem(map-get($map, min-size)), calc-rem(map-get($map, max-size)));
  }
}
