/**
 * Output font stack props from config
 * @requires functions/get-props
 * @params $font-stack
 */
@mixin font-stack($font-stack, $font-weight: base) {
  $map: map-get($font-stacks, $font-stack);
  $font-stack: map-get($map, $font-weight);
  @include get-props($font-stack);
}
