/**
 * Output font size props from config
 *
 * @params $font-size
 * @requires functions/get-props
 */
@mixin font-size($font-size)
{
  $map: map-get($font-sizes, $font-size);
  $base: map-get($map, base);
  @include get-props($base);
  $map-breakpoints: map-remove($map, base);
  @each $breakpoint, $attr in $map-breakpoints {
		@include media-breakpoint-up($breakpoint) {
      @include get-props($attr);
    }
  }
}
