:root {
  --font-size-xs: theme("fontSize.xs");
  --font-size-sm: theme("fontSize.sm");
  --font-size-base: theme("fontSize.base");
  --font-size-lg: theme("fontSize.lg");
  --font-size-xl: theme("fontSize.xl");
  --font-size-2xl: theme("fontSize.2xl");
  --font-size-3xl: theme("fontSize.3xl");
  --font-size-4xl: theme("fontSize.4xl");
  --font-size-5xl: theme("fontSize.5xl");
  --font-size-6xl: theme("fontSize.6xl");
  --font-size-7xl: theme("fontSize.7xl");
  --font-size-8xl: theme("fontSize.8xl");
}
