/**
 * Convert px to rem units
 * Don't use string interpolation
 * @params $size
 */
@function calc-rem($size) {
  /* stylelint-disable-next-line length-zero-no-unit */
  @return ($size / 16px) + 0rem;
}
