/**
 * Get color from config/colors.scss
 *
 * @requires $colors
 * @params $color, $tone
 */
@function get-color($color, $tone: "base") {
  @if map-has-key($colors, $color) {
    $color: map-get(map-get($colors, $color), $tone);
    @return $color;
  }
  @error "#{$color} not found.";
}
